Repository pepfar-datim/datapackr, pull requests merged in 2021-12, with the labels that each got.

#352 Parse COP22 datapacks
  NEWS.md
  R/createKeychainInfo.R
  R/packForDATIM_UndistributedMER.R
  R/prepare_model_data.PSNUxIM.R
  R/unPackSNUxIM.R
  tests/testthat/test-checkComments.R
Labels: cycle: COP 🌍, tool: DATA PACK 🎒, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕

#346 Dp 362
  R/datapackr.R
Labels: tool: DATA PACK 🎒, type: DEPRECATION ♻️ 🗑

#351 DP-363
  R/data.R
  man/COP21_datapacks_countries.Rd
  man/cop20OPU_data_pack_schema.Rd
  man/cop20_data_pack_schema.Rd
  man/cop21OPU_data_pack_schema.Rd
  man/cop21_data_pack_schema.Rd
  man/cop22_data_pack_schema.Rd
  man/data_pack_schema.Rd
  man/datapack_cogs.Rd
  man/map_DataPack_DATIM_DEs_COCs.Rd
  man/styleGuide.Rd
  man/valid_PSNUs.Rd
  man/valid_category_options.Rd
Labels: tool: DATA PACK 🎒, type: CODE CLEANUP 🧹, type: DOCUMENTATION 📖

#343 DP-464
  NAMESPACE
  NEWS.md
  R/loginToDATIM.R
  R/utilities.R
  data-raw/COP20OPU_Data_Pack_generation_script.R
  data-raw/COP20OPU_Data_Pack_processing_script.R
  data-raw/COP21OPU_Data_Pack_generation_script.R
  data-raw/COP21OPU_Data_Pack_processing_script.R
  data-raw/COP21_Data_Pack_generation_script.R
  data-raw/COP21_Data_Pack_processing_script.R
  data-raw/GetDataForGlobalFund.R
  data-raw/checkTX_CURR.R
  data-raw/generate_play_spectrum_output.R
  data-raw/produceConfigFile.R
  data-raw/update_cached_PSNUs.R
  data-raw/update_cached_de_coc_co_map.R
  data-raw/update_cached_map_datapack_cogs.R
  data-raw/update_cached_valid_COs.R
  data-raw/update_cop20_datapack_template.R
  data-raw/update_cop21_datapack_schema.R
  data-raw/update_cop22_datapack_schema.R
  man/DHISLogin.Rd
  man/GetCredentialsFromConsole.Rd
  man/LoadConfigFile.Rd
  man/ValidateConfig.Rd
  man/api_version.Rd
  man/isLoggedIn.Rd
  man/loginToDATIM.Rd
Labels: type: DEPRECATION ♻️ 🗑, type: CODE CLEANUP 🧹

#353 Beta pack feedback
  R/packDataPack.R
  R/packDataPackSheet.R
  data-raw/COP22_Data_Pack_generation_script.R
  data/cop22_data_pack_schema.rda
  inst/extdata/COP22_Data_Pack_Template.xlsx
  inst/extdata/COP22_Data_Pack_Template_v1.xlsx
  inst/extdata/COP22_Data_Pack_Template_v2.xlsx
  inst/extdata/COP22_Data_Pack_Template_v3.xlsx
  inst/extdata/~$COP22_Data_Pack_Template.xlsx
  inst/extdata/~$COP22_Data_Pack_Template_overhaul.xlsx
Labels: cycle: COP 🌍, process: TEMPLATE 📐, tool: DATA PACK 🎒, type: NEW FEATURE ✨ 🆕

#342 DP 361 - packDataPackSheets
  R/packDataPackSheet.R
  R/packSheets.R
  R/prepareSheetData.R
  data-raw/update_cached_PSNUs.R
Labels: tool: DATA PACK 🎒, type: CODE CLEANUP 🧹, type: REFACTORING 🛠
