Repository pepfar-datim/datapackr, pull requests merged in 2021-11, with the labels that each got.

#329 Cop22 betapack template
  data-raw/COP22_Data_Pack_Template_OldCascade.xlsx
  data-raw/update_cop22_datapack_schema.R
  data/cop22_data_pack_schema.rda
  inst/extdata/COP22_Data_Pack_Template.xlsx
Labels: cycle: COP 🌍, process: TEMPLATE 📐, tool: DATA PACK 🎒

#335 Cop22 betapack final review
  data-raw/update_cop22_datapack_schema.R
  data/cop22_data_pack_schema.rda
  inst/extdata/COP22_Data_Pack_Template.xlsx
Labels: cycle: COP 🌍, process: TEMPLATE 📐, tool: DATA PACK 🎒

#339 DP-462 : Deprecate old functions in `datapackr`
  NAMESPACE
  R/combineMER_SNUxIM.R
  R/getMechList.R
  R/packFrame.R
  R/utilities.R
  man/combineMER_SNUxIM.Rd
  man/currentFY.Rd
  man/frameDataSheet.Rd
  man/getMechList.Rd
  man/packFrame.Rd
  man/writeFxColumnwise.Rd
Labels: cycle: COP 🌍, type: DEPRECATION ♻️ 🗑, type: CODE CLEANUP 🧹

#324 DP-346: Update createKeychainInfo.R
  .circleci/config.yml
  R/createKeychainInfo.R
Labels: cycle: COP 🌍, cycle: OPU ↩️, process: GENERATION 🏗, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: CODE CLEANUP 🧹

#327 DP-347: Remove Purrr dependency in checkComments
  R/checkComments.R
  tests/testthat/test-checkComments.R
Labels: cycle: COP 🌍, cycle: OPU ↩️, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: CODE CLEANUP 🧹

#328 DP-364 : Simplify Check structure with base R
  R/checkStructure.R
Labels: cycle: COP 🌍, cycle: OPU ↩️, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: CODE CLEANUP 🧹

#333 Update check_params & consolidate pick_schema
  NAMESPACE
  NEWS.md
  R/checkAnalytics.R
  R/check_params.R
  R/createTestDataset.R
  R/getOPUDataFromDATIM.R
  R/handshakeFile.R
  R/packageSetup.R
  R/utilities.R
  man/check_params.Rd
  man/datapackr_params.Rd
  man/getDataPackSchema.Rd
  man/handshakeFile.Rd
  man/interactive_message.Rd
  man/na-default.Rd
  man/null-default.Rd
  man/op-missing-default.Rd
  man/parameter-checks.Rd
  man/parse_maybe_number.Rd
  man/paste_dataframe.Rd
  man/paste_oxford.Rd
  man/reexports.Rd
  tests/testthat/test-create-schema.R
  tests/testthat/test-package-setup.R
Labels: cycle: COP 🌍, cycle: OPU ↩️, process: GENERATION 🏗, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕, type: DEPRECATION ♻️ 🗑, type: CODE CLEANUP 🧹, type: REFACTORING 🛠, type: DOCUMENTATION 📖

#334 DP 389 - Automate some schema validations
  NAMESPACE
  NEWS.md
  R/packageSetup.R
  R/unPackSchema.R
  R/utilities.R
  data-raw/update_cop22_datapack_schema.R
  man/is_uidish.Rd
  man/pick_template_path.Rd
  man/unPackSchema_datapack.Rd
  man/validateSchema.Rd
Labels: cycle: COP 🌍, cycle: OPU ↩️, process: TEMPLATE 📐, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, type: NEW FEATURE ✨ 🆕, type: REFACTORING 🛠

#340 Betaset data
  DESCRIPTION
  R/apiUtilities.R
  R/loginToDATIM.R
  R/packDataPack.R
  R/packSheets.R
  R/prepareSheetData.R
  R/pullDATIMCodeList.R
  R/pullFullCodeList.R
  R/pullHTSModality.R
  data-raw/COP22_Data_Pack_generation_script.R
  data-raw/Export_Data_Entry_Forms.R
  data-raw/Validate_model_data.R
  data-raw/extract-spectrum-data.R
  data-raw/test_datasets.R
  data-raw/update_cached_PSNUs.R
  data-raw/update_cop22_de_coc_co_map.R
  data/cop22_data_pack_schema.rda
  data/cop22_map_DataPack_DATIM_DEs_COCs.rda
  data/cop22_valid_PSNUs.rda
  data/valid_PSNUs.rda
  inst/extdata/COP22_Data_Pack_Template.xlsx
  man/api_version.Rd
  man/packDataPack.Rd
  man/pullFullCodeList.Rd
Labels: cycle: COP 🌍, tool: DATA PACK 🎒, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕
