Repository pepfar-datim/datapackr, pull requests merged in 2022-01, with the labels that each got.

#363 Pack PSNUxIM tab
  DESCRIPTION
  R/adornMechanisms.R
  R/adorn_import_file.R
  R/checkNumericValues.R
  R/createAnalytics.R
  R/createKeychainInfo.R
  R/exportSubnatToDatim.R
  R/packDataPack.R
  R/packForDATIM.R
  R/packForDATIM_MER.R
  R/packForDATIM_UndistributedMER.R
  R/packPSNUxIM.R
  R/packageSetup.R
  R/unPackSNUxIM.R
  R/unPackSheet.R
  R/unPackSheets.R
  R/utilities.R
  R/writePSNUxIM.R
  data-raw/COP22_Data_Pack_processing_script.R
  data-raw/update_cop21OPU_datapack_schema.R
  data-raw/update_cop21_datapack_schema.R
  data-raw/update_cop22_datapack_schema.R
  data-raw/update_cop22_de_coc_co_map.R
  data/cop21OPU_data_pack_schema.rda
  data/cop21_data_pack_schema.rda
  data/cop22_data_pack_schema.rda
  data/cop22_map_DataPack_DATIM_DEs_COCs.rda
  data/cop22_map_adorn_import_file.rda
  data/valid_PSNUs.rda
  inst/extdata/COP21_Data_Pack_Template.xlsx
  inst/extdata/COP21_OPU_Data_Pack_Template.xlsx
  inst/extdata/COP22_Data_Pack_Template.xlsx
  inst/extdata/~$COP22_Data_Pack_Template.xlsx
  inst/extdata/~$COP22_Data_Pack_Template_overhaul.xlsx
  man/getDatasetUids.Rd
  man/packForDATIM_UndistributedMER.Rd
  tests/testthat/test-signature.R
  tests/testthat/test-write-home-tab.R
Labels: type: BUG 🐛, cycle: COP 🌍, cycle: OPU ↩️, process: TEMPLATE 📐, process: GENERATION 🏗, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕, type: CODE CLEANUP 🧹, type: REFACTORING 🛠

#373 datapackr v5.1.2
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/adornMechanisms.R
  R/messageQueue.R
  R/packPSNUxIM.R
  R/unPackDataPack.R
  R/unPackSNUxIM.R
  R/utilities.R
  R/writePSNUxIM.R
  data-raw/COP22_Data_Pack_processing_script.R
  data/cop22_data_pack_schema.rda
  data/valid_PSNUs.rda
  inst/extdata/COP22_Data_Pack_Template.xlsx
  man/appendMessage.MessageQueue.Rd
  man/interactive_warning.Rd
Labels: cycle: COP 🌍, process: TEMPLATE 📐, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕, type: REFACTORING 🛠

#371 DP 509: Parsing of PSNUs
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/unPackCountryUIDs.R
  R/unPackSNUxIM.R
  tests/testthat/sheets/COP21_OPU_Data_Pack_Template.xlsx
  tests/testthat/test-GetDatasetUids.R
  tests/testthat/test-get-datapack-name.R
Labels: type: BUG 🐛, cycle: COP 🌍, cycle: OPU ↩️, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️
