Repository pepfar-datim/datapackr, pull requests merged in 2022-11, with the labels that each got.

#566 Dp 815/ DP816
  R/createAnalytics.R
  R/packForDATIM.R
  R/prepareMemoData.R
  R/unPackSNUxIM.R
  R/utilities.R
  R/writePSNUxIM.R
  man/adorn_import_file.Rd
  man/createDataPack.Rd
  man/getMapDataPack_DATIM_DEs_COCs.Rd
  man/packOPUDataPack.Rd
  man/packPSNUxIM.Rd
  man/packTool.Rd
  man/readSheet.Rd
  tests/testthat/test-prepareMemoData.R
Labels: type: BUG 🐛, cycle: OPU ↩️, process: GENERATION 🏗

#556 fix datapack generation
  R/packDataPack.R
  data-raw/COP21_Data_Pack_generation_script.R
  data-raw/COP22_Data_Pack_generation_script.R
Labels: type: BUG 🐛, cycle: COP 🌍, process: GENERATION 🏗, tool: DATA PACK 🎒

#567 DP-204: Implement defunct disagg checks for PSNUxIM
  NAMESPACE
  R/checkDisaggs.R
  R/packDataPack.R
  R/unPackSNUxIM.R
  man/checkPSNUxIM_Disaggs.Rd
  tests/testthat/test-checkDisaggs.R
Labels: cycle: COP 🌍, cycle: OPU ↩️, tool: DATA PACK 🎒, tool: OPU/PSNUxIM ⚖️, process: PROCESSING ⚙️, type: NEW FEATURE ✨ 🆕
